.sidebar {
    /* margin-bottom: 70px;
    margin-top: 70px; */
    background-color: var(--sidebar-bg);
    height: 100%;
    z-index: 100;
}

@media only screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }
}



.sidebar-wrapper {
    width: 240px;
}


/* CSS LogoAPP */
.logo {
    /* width: 240px;
    height: 70px; */
    /* position: fixed; */
    top: 0;
    padding: 17px 25px 13px 28px;
    display: flex;
    align-items: center;
}

.logo img {
    width: 120px;
    height: 40px;
}

/* CSS LogoAPP */



/* CSS MenuItem */
.main-menu {
    width: 100%;
    position: relative;
    margin-bottom: 16px;
}

.main-menu .list-item .item {
    border-left: 3px solid transparent;
}

.main-menu .list-item .item.isActive {
    background-color: var(--alpha-bg);
    color: var(--nav-text-hover);
    border-color: var(--purple-primary);
}

.main-menu .list-item .item.isActive>a {
    color: var(--nav-text-hover);
}

.main-menu .list-item .item a:hover {
    color: var(--nav-text-hover);
}

.main-menu .list-item .item a {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    padding: 12px 21px;
    color: var(--nav-text);
}

.sidebar-divide {
    position: relative;
    height: 1px;
}

.sidebar-divide::after {
    content: "";
    border-top: 1px solid var(--border-primary);
    position: absolute;
    left: 25px;
    right: 25px;
    top: 0;
}

.sidebar-scrollbar {
    position: absolute;
    inset: 0px;
    overflow: hidden scroll;
    margin-right: -6px;
    margin-bottom: 0px;
    margin-top: 16px;
}

.vip-banner {
    padding: 15px 8px;
    border-radius: 8px;
    margin: 0 20px;
    text-align: center;
    background-image: linear-gradient(117deg, #5a4be7, #c86dd7 102%);
}

.vip-banner .text {
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 600;
    border-color: #ffdb00;
    line-height: 1.67;
    color: #fff;
}

.vip-banner a {
    background-color: #ffdb00;
    border-color: #ffdb00;
    color: #32323d;
    display: inline-block;
    padding: 6px 16px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 999px;
}

.vip-banner a:hover {
    color: #32323d;
}

.sidebar-scrollbar::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.sidebar-scrollbar::-webkit-scrollbar-thumb {
    background-color: #000000;
}

/* CSS MenuItem */


/* CSS AddPlayList */
.btn-add {
    /* position: fixed; */
    width: 240px;
    left: 0;
    height: 54px;
    border-top: 1px solid var(--border-primary);
    padding: 0 28px;
    border-radius: 0;
    display: flex;
    align-items: center;
    color: var(--nav-text);
    font-weight: 500;
    bottom: 0;
    background-color: var(--sidebar-bg);
}

/* CSS AddPlayList */