.play-list-content {
    margin-left: 330px;
    overflow-y: auto;

}

.song-list-select .select-header {
    border-bottom: 1px solid var(--border-secondary);
    /* height: 46px; */
    display: flex;
    padding: 10px;
}

.song-list-select .select-header .left-btn {
    width: 50%;
    display: flex;
}

.song-list-select .select-header .center-btn {
    margin-left: -10px;
    flex: 1;
}

.song-list-select .select-header .column-text {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--text-secondary);
}

.play-list-content::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
    color: hsla(0, 0%, 100%, 0.5);
}

input[type="checkbox"] {
    background-color: rgba(255, 255, 255, 0.5);
    /* Nền trong suốt */
}