.new-release {
    position: relative;
}

.title-new-release {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-new-release a {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: var(--text-secondary);
}

.new-release .genre-select {
    margin-bottom: 16px;
}

.new-release .genre-select .active {
    border-color: var(--purple-primary);
    background-color: var(--purple-primary);
    color: var(--white);
}

.new-release .genre-select .btn-release {
    padding: 4px 24px;
    border: 1px solid var(--border-primary);
    border-radius: 100px;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 15px;
    color: #fff;
}

.new-release .genre-select .btn-release:hover {
    filter: brightness(.9);
}

.columns {
    height: 321px;
    display: flex;
    position: relative;
    margin: 0 -15px;
}

.column {
    width: 30.33333%;
    position: relative;
    padding-left: 14px;
    padding-right: 14px;
}

.media {
    align-items: center;
    display: flex;
    padding: 10px 15px;
    border-radius: 5px;
}

.media .media-left {
    display: flex;
    width: 50%;
    margin-right: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
}

.media-left .song-thumb {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    flex-shrink: 0;
}

.media-left .song-thumb img {
    display: block;
    width: 60px;
    height: 60px;
}

.media-left .card-info {
    overflow: hidden;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.media-left .card-info .title-wrapper {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.media .subtitle {
    display: flex;
    font-size: 12px;
    margin-top: 3px;
}

.media .subtitle a {
    color: var(--text-secondary);
}

.media .subtitle a:hover {
    color: var(--link-text-hover);
    text-decoration: underline;
}

.media-left .time-release {
    display: flex;
    align-items: center;
    color: var(--text-secondary);
    margin-top: 3px;
    white-space: nowrap;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
}

.media-left .play-icon {
    width: 18px;
    height: 18px;
    border: none;
}

.actions-container {
    top: 50% !important;
    left: 50% !important;
    transform: translateX(-50%) translateY(-50%);
    width: 18px;
    height: 18px;
    visibility: hidden;
}

.media:hover {
    background-color: var(--alpha-bg);
}

.media:hover .actions-container {
    visibility: visible;
}

.playlist-actions .btn:hover {
    background-color: var(--hover-opacity);
}


.media:hover .opacity {
    visibility: visible;
}

.media:hover .actions {
    visibility: visible;
}