.header-mb {
    position: fixed;
    height: 60px;
    top: 0;
    width: 100%;
    z-index: 99;
    max-width: 768px;
}

@media only screen and (min-width: 768px) {
    .header-mb {
        display: none;
    }
}

.header-mb .top-bar-container {
    background-color: #fcfcfc;
    position: relative;
    transition: transform .3s;
}

.header-mb .top-bar-container .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

h1 {
    margin: 0 !important;
    padding: 0 !important;
}

.header-mb .top-bar-container .top-bar .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../../../../assets/images/home/logo-mp-3.svg) center center/cover no-repeat;
    display: block;
    width: 100px;
    height: 15px;
    font-size: 0;
    margin: 0 auto;
}

.header-mb .top-bar-container .top-bar .menu-bar-container {
    height: 54px;
    background-color: #f7f7f7;
    width: 100%;
    top: 50px;
    left: 0;
    position: absolute;
    z-index: 0;
    transition: transform .3s;
}

.header-mb .top-bar-container .top-bar .menu-bar-container .nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-mb .top-bar-container .top-bar .menu-bar-container .nav li {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-mb .top-bar-container .top-bar .menu-bar-container .nav .nav-link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.6;
    color: #92929d;
    padding: 15px 10px;
    display: block;
    float: left;
    border-bottom: 2px solid transparent;
    text-transform: uppercase;
}

.header-mb .top-bar-container .top-bar .menu-bar-container .nav .nav-link.active {
    border-bottom: 2px solid #65509e;
    color: #65509e;
}

.header-mb .top-bar-container .top-bar .menu-bar-container .nav li a {
    padding: 15px 10px;
}

.header-mb .top-bar-container .top-bar .user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-mb .top-bar-container .top-bar .user-profile .icon-search-mb {
    color: #32323d;
    font-size: 22px;
}