.media-fan {
    padding: 0 0 20px;
    display: flex;
}

.media-left {
    margin-right: 10px;
    width: 50px;
    /* height: 50px; */
    border-radius: 4px;

}

.media-left a {
    display: block;

}

.media-left a img {
    width: 100%;
}

.media-content {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: left;
    align-self: center;
    width: 0;
}

.media-content .subtitle {
    margin-top: 3px;
    text-transform: uppercase;
    font-size: 14px;
    color: var(--text-secondary);
}

.media-content .title-fan {
    margin: 5px 0 0;
    font-size: 18px;
}

.media-content .title-fan a {
    color: #fff;
}

.media-content .title-fan a:hover {
    color: var(--link-text-hover);
}