.carousel-items {
    display: flex;
}

.test1 {
    border-radius: 999px;
}

.top-content {
    overflow: hidden;
    transition: transform .3s ease .1s;
}

.top-content .actions-live {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 66px;
    z-index: 2;
    border-radius: 999px;
    cursor: pointer;
}

.top-content:hover .img-top img {
    transform: scale(1.1) translateZ(0);
    transition: transform .7s;
}

.top-content:hover .actions-live {
    display: block;
}

.top-content:hover .opacity {
    visibility: visible;
}

.content-item {
    width: 14.28571%;
    position: relative;
    padding-left: 14px;
    padding-right: 14px;
}

.content-item .top-content {
    position: relative;
}

.content-item .top-content .img {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

.content-item .top-content .img .img-top {
    border-radius: 999px;
    overflow: hidden;
}

.content-item .top-content .child-img {
    overflow: hidden;
    border-radius: 999px;
    line-height: 0;
    padding: 0;
    position: absolute;
    top: 85.3%;
    left: 85.3%;
    transform: translate(-60%, -60%);
    z-index: 3;
    width: 36%;
    height: auto;
    background-color: transparent;
}

.content-item .top-content .child-img img {
    border-radius: 999px;
    border: 2px solid var(--layout-bg);
}

.content-item .top-content .img-livetag {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    bottom: 8px;
    z-index: 3;
    line-height: 0;
    width: 19%;
}

.content-item .bottom-content {
    margin-top: 28px;
    text-align: center;
}

.content-item .bottom-content .title {
    font-size: 16px;
}

.content-item .bottom-content .subtitle {
    font-size: 12px;
    color: var(--text-secondary);
}